<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Action Page</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

</head>

<body class="body">

    <header class="header">
        <h1 class="header-text"> Add Action Page</h1>
    </header>

    <section class="container">

        <div class="add-page">

            <label for="Time" class="lblTime">Time</label>
            <input type="text" name="time" id="time" placeholder="Enter the Time">
            
            <label for="Action" class="lblAction">Action</label>
            <input type="text" name="action" id="action" placeholder="Enter the Action">
            
            <input type="submit" name="Submit" id="btn-submit" onclick="addAction()">

        </div>

    </section>

    <script src="{{ url_for('static', filename='main.js') }}"></script>
</body>
</html>